<h1>Admin</h1>
<h4>All users from the database</h4>
<ul type="none">
  <% users.forEach(user=> { %>
    <li>
      <strong>User ID:</strong>
      <%= user.userID %><br>
        <strong>Role:</strong>
        <%= user.role %><br>
          <strong>Name:</strong>
          <%= user.name %><br>
            <strong>Password:</strong>
            <%= user.password %>
    </li>
    <br>
    <% }); %>
</ul>