<h1>Welcome Student 2</h1>
<ul type="none">
  <li>
    <strong>User ID:</strong>
    <%= user.userID %><br>
      <strong>Role:</strong>
      <%= user.role %><br>
        <strong>Name:</strong>
        <%= user.name %><br>
  </li>
</ul>